# Copy to .env and fill in values ( .env is gitignored )
OPENAI_API_KEY=
SNOWFLAKE_PAT=
SNOWFLAKE_ACCOUNT_URL=https://ngnwjus-mf49199.snowflakecomputing.com
ICEBERG_JAR=/opt/spark/optional-lib/iceberg-spark-runtime.jar
